.filter {
  display: inline;
}
ng-search-bar {
  padding: 3.5rem;
}

ng-dropdown {
  padding: 3.5rem;
}

ng-datepicker {
  padding: 3.5rem;
}

// @media screen and (min-width: 400px) {
//   ng-dropdown {
//     padding: 0.5rem;
//   }
// }
